/* Inline */

.slide a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

.slide a:hover {
    color: #1f66cc;
    font-weight: bold;
}

.slide code,
.slide kbd,
.slide mark,
.slide samp {
    padding: 0.1em 0.3em;
    border-radius: 0.2em;
}

.slide code,
.slide kbd,
.slide samp {
    background-color: var(--color-fill);
    line-height: 1;
    font-family: 'PT Mono', monospace;
}

.slide mark {
    background-color: var(--color-yellow);
}

.slide sub,
.slide sup {
    position: relative;
    vertical-align: baseline;
    line-height: 0;
    font-size: 75%;
}

.slide sub {
    bottom: -0.25em;
}

.slide sup {
    top: -0.5em;
}
