 <script type="application/ld+json" id="site">
    {
        "@context": {
            "schema": "http://schema.org/"
        },
        "@id": "{{ site.url }}/#site",
        "@type": "schema:WebSite",
        "schema:about": "{{ site.name }}",
        "schema:author": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:creator": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:editor": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:publisher": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:copyrightHolder": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:copyrightYear": "{{ site.time | date: "%Y" }}",
        "schema:dateCreated": "2016-12-16T07:39:00",
        "schema:dateModified": "{{ site.time | date: "%Y-%m-%dT%H:%M:%S"}}",
        "schema:datePublished": "{{ site.time | date: "%Y-%m-%dT%H:%M:%S"}}",
        "schema:hasPart": [
            { "@id": "{{ site.url }}/" },
            { "@id": "{{ site.url }}/blog"},
            { "@id": "{{ site.url }}/projects"},
            { "@id": "{{ site.url }}/publications"},
            { "@id": "{{ site.url }}/assets/pdf/cv.pdf"}
        ]
    }
</script>
<script type="application/ld+json">
    {
        "@context": {
            "schema": "http://schema.org/"
        },
        "@id": "{{ site.url }}",
        "@type": "schema:WebPage",
        "schema:url": "{{ site.url }}",
        "schema:about": "{{ site.name }}",
        "schema:headline": "{{ site.name }}",
        "schema:subjectOf": "{{ site.name }}",
        "schema:name": "{{ site.name }}",
        "schema:mainEntityOfPage": {
            "@type": "schema:WebPage",
            "@id": "{{ site.url }}/"
        },
        "schema:author": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:creator": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:editor": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:publisher": {
            "@id": "{{ site.url }}/#me",
            "@type": "schema:Person",
            "schema:name": "{{ site.first_name }} {{ site.last_name }}"
        },
        "schema:image": "{%- if page.og_image -%}{{ page.og_image }}{%- else -%}{{ site.og_image }}{%- endif -%}",
        "schema:abstract": "{{ site.description }}",
        "schema:description": "{{ site.description }}",
        "schema:dateCreated": "2016-12-16T07:39:00",
        "schema:dateModified": "{{ site.time | date: "%Y-%m-%dT%H:%M:%S"}}",
        "schema:datePublished": "{{ site.time | date: "%Y-%m-%dT%H:%M:%S"}}",
        "schema:isPartOf": { "@id": "{{ site.url }}/#site" }
    }
</script>
