<!-- Load jQuery -->
<script>
function initCommon() {
  $(document).ready(function() {
      $('a.abstract').click(function() {
          $(this).parent().parent().find(".abstract.hidden").toggleClass('open');
      });
      $('a.bibtex').click(function() {
          $(this).parent().parent().find(".bibtex.hidden").toggleClass('open');
      });
  });
}
</script>
<script async src="{{ '/assets/js/lib/jquery/dist/jquery.min.js' | prepend: site.baseurl | prepend: site.url }}" onload="initCommon()"></script>

{% if site.enable_katex %}
<!-- Load KaTeX -->
<link rel="stylesheet" href="{{ '/assets/js/lib/KaTeX/dist/katex.min.css' | prepend: site.baseurl | prepend: site.url }}">
<script async src="{{ '/assets/js/lib/KaTeX/dist/katex.min.js' | prepend: site.baseurl | prepend: site.url }}"></script>
<script async src="{{ '/assets/js/katex.js' | prepend: site.baseurl | prepend: site.url }}"></script>
{% endif %}

{% if site.enable_anchorjs %}
<!-- Load Anchor JS -->
<script>
  function initAnchorJS() {
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
  }
</script>
<script async src="{{ '/assets/js/lib/anchorjs/anchor.min.js' | prepend: site.baseurl | prepend: site.url }}" onload="initAnchorJS()"></script>
{% endif %}

<!-- Include custom icon fonts -->
<!--<link rel="stylesheet" href="{{ '/assets/css/fontawesome.min.css' | prepend: site.baseurl | prepend: site.url }}">-->
<link rel="stylesheet" href="{{ '/assets/fontawesome/css/all.css' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/assets/fontawesome/css/v4-shims.css' | prepend: site.baseurl | prepend: site.url }}">
<link rel="stylesheet" href="{{ '/assets/css/academicons.min.css' | prepend: site.baseurl | prepend: site.url }}">

