---
layout: page
---

{% if page.profile %}
  <div class="profile col one {{ page.profile.align }}">
    {% if page.profile.image %}
      <img alt="Dylan van Assche's avatar" class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
    {% endif %}
    <div class="address">
      {% if site.workplace.name %}
        {{ site.workplace.name }}
      {% endif %}
      {% if site.workplace.address %}
        {{ site.workplace.address }}
      {% endif %}
    </div>
  </div>
{% endif %}

{% include kg/website.html %}

{% include kg/me.html %}

{{ content }}
